<!-- MODAL CONTENT GUARD -->
<div class="pure-u-1">
  <div id="modal">
    <div class = "pure-u-1">
      <div class = "modal-wrapper">
        <!-- MODAL - CONTENT -->
        <div class="modal-content">
          <!-- CLOSE MODAL -->
           <div class = "pure-u-1">
                <a href="javascript:void(0)"><div class = "modal-close" id="close-modal">
                  X 
                </div></a>
            </div>
          <!-- MODAL - HEADER -->
            <div class="pure-u-1">
              <div class = "modal-logo">
                Order List
              </div>
            </div>

           <div class = "pure-u-1">
            <div class="modal-body">
              <table>
                <thead>
                  <tr>
                    <th>Item</th>
                    <!-- <th>Quantity</th> -->
                    <th>Price</th>
                  </tr>
                </thead>

              <tbody id="order_list">
                <%= render partial: 'order_list', locals: {orders: @orders}%>
              </tbody>
            </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>